<!-- VARIABLES: base_status -->
<div class="card">
    <div class="card-body">
        <%= form_with(model: [:admin, base_status]) do |form| %>
            <div class="mb-3">
                <%= form.label :description, class: 'form-label' %>
                <%= form.text_field :description, class: 'form-control' %>
                <% if base_status.errors[:description].any? %>
                    <div>
                        <%= base_status.errors[:description].first %>
                    </div>
                <% end %>

                <%= form.submit class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>